@using MyBlazorApp.Session
@inherits LayoutComponentBase

<PageTitle>SupplyParameterFromQuery - Default</PageTitle>

<!--
The `IsFixed` attribute solves the problem, but is not applicable in all situations 
<CascadingValue Value="_sessionState" IsFixed="true">
-->
<CascadingValue Value="_sessionState">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private readonly SessionState _sessionState = new();
}